/* canvas {
    background-image: url("../gfx/img/space.png");
    background-size: cover; 
    animation: scroll 25s infinite linear;
} */

canvas {
    background-color: black;
}

@keyframes scroll {
    to {
        background-position-x: 400px;
    }
}
  
a.button {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}