
canvas {
    /* background-color: black;
    background-size: cover; 
    background-position-x: 400px; */

    background-image: url('gfx/img/Retails\ -\ Screen\ 1/Background.png');

background-size: cover;
background-repeat: no-repeat;
background-size: 100vw 100vh;
 
}

@keyframes scroll {
    to {
        background-position-x: 400px;
    }
}
 
a.button {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

